.loginMobile{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background: url("../../assets/img/shu.jpg") no-repeat;
  background-size: 100% 100%;
}

.login-box{
  text-align: center;
  width: 80vw !important;
  margin-left: 10vw;
  margin-top: 5vh;
}
